[Desktop Entry]

Type=Application

Name=openTerfaceQT

Exec=flatpak run org.TechxArtisan.openterfaceQT

Icon=org.TechxArtisan.openterfaceQT

Comment=A software for control openterface-Mini-KVM, smart KVM console for controlling any headless device via HDMI and USB.

Categories=Utility;Development;

Terminal=false

Keywords=openterface;open-source;
