[Desktop Entry]
Version=1.0
Type=Application
Name=OpenterfaceQT
Exec=openterfaceQT
Icon=openterfaceQT
Comment=OpenterfaceQT Application
Categories=Utility;
Terminal=false
StartupNotify=true
