Package: openterfaceQT
Version: ${VERSION}
Section: base
Priority: optional
Architecture: ${ARCH}
Maintainer: TechxArtisan <info@techxartisan.com>
Description: OpenterfaceQT KVM Linux Edition
 Includes bundled FFmpeg 6.1.1 libraries (libavformat, libavcodec,
 libswresample, libswscale, libavutil) and libturbojpeg
