---
name: Linux Build

on:
  push:
    branches: ["main", "dev"]
    tags: ["v*"]
  pull_request:
    branches: ["dev"]
  workflow_dispatch:

env:
  ARTIFACT: openterfaceQT
  SOURCE_DIR: ${{ github.workspace }}
  QT_VERSION: 6.4.2

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install prerequisites
        run: |
          sudo apt update -y
          sudo apt upgrade -y
          sudo apt install build-essential

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ env.QT_VERSION }}
          host: linux
          target: desktop
          arch: gcc_64
          modules: qtmultimedia qtserialport

      - name: Get all tags for correct version determination
        working-directory: ${{ github.workspace }}
        run: |
          git fetch --all --tags -f

      - name: Read version from version.txt
        id: read_version
        run: echo "VERSION=$(cat version.txt)" >> $GITHUB_ENV

      - name: Create build directory
        run: mkdir ${{ runner.temp }}/build

      - name: Configure And Build
        working-directory: ${{ runner.temp }}/build
        run: |
          qmake6 ${{ github.workspace }} && make -j$(nproc)

      - name: Create deb package
        working-directory: ${{ runner.temp }}
        run: |
          mkdir -p package/DEBIAN
          # Create control file with package information
          echo "Package: ${{ env.ARTIFACT }}
          Version: ${{ env.VERSION }}
          Section: base
          Priority: optional
          Architecture: all
          Depends: libqt6core6 (>= 6.4.2), libqt6multimedia6 (>= 6.4.2), libqt6serialport6 (>= 6.4.2), libqt6svg6 (>= 6.4.2)
          Maintainer: TechXArtisan <info@techxartisan.com>
          Description: OpenterfaceQT Mini-KVM Linux Edition" > package/DEBIAN/control
          # Copy files to package directory
          mkdir -p package/usr/bin
          cp -r build/openterfaceQT package/usr/bin

          # Add icon to the package
          mkdir -p package/usr/share/icons/hicolor/256x256/apps/
          cp ${{ github.workspace }}/images/icon_256.png package/usr/share/icons/hicolor/256x256/apps/openterfaceQT.png

          # Create .desktop file
          mkdir -p package/usr/share/applications/
          cat > package/usr/share/applications/openterfaceQT.desktop << EOF
          [Desktop Entry]
          Version=1.0
          Type=Application
          Name=OpenterfaceQT
          Exec=/usr/bin/openterfaceQT
          Icon=openterfaceQT
          Comment=OpenterfaceQT Application
          Categories=Utility;
          EOF

          # Build deb package
          mv package ${{ env.ARTIFACT }}_${{ env.VERSION }}
          dpkg-deb --build ${{ env.ARTIFACT }}_${{ env.VERSION }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: openterfaceqt.deb
          path: ${{ runner.temp }}/${{ env.ARTIFACT }}.deb
          if-no-files-found: error
